@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;400;700&display=swap');

body{
    font-family: 'Roboto', cursive;
    font-family: 'Righteous', sans-serif;
    box-sizing: border-box;
    background-color:  #E5E5E5;
}

h2 {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
}

h5 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

h6{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 100;
    color: #a6a6a6;
}
h7{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    color: white; 
}
span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #000;
    margin-left: 5px;
}
input{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.fechar-pedido{
    background-color: rgba(500, 500, 500, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    position: fixed;
    z-index: 2;
}
.conteudo-fechar-pedido{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.totalD{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}
.descricao{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}
.endereco{
    border-radius: 100px;
}
.cancelar{
    background-color: lightgreen;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.finalizar{
    border: none;
    width: 90%;
    height: 40px;
    font-size: 18px;
    color: lightgreen;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;

}
.lista-produto-linha{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.aparecer{
    display: flex;
}
.desaparecer{
    display: none;
}
.fechar-pedido-verde{
    width: 80%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgreen;
}


.header{
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    padding: 4%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
}

.header h1 {
    color: #ffffff;
    font-family: 'Righteous';
    font-size: 44px;
}

.content {
    background-color: #E5E5E5;
    width: 100%;
    height: 800px;
    margin-top: 92px;
    padding-left: 4%;
    margin-bottom: 130px;

    display: flex;
    
    justify-content: flex-start;
}
.content h3{
    color: #333333;
    font-family: 'Righteous';
    font-size: 26px;
    margin-bottom: 10px;
}
.content img{
    width: 144px;
    height: 88px;
    border-radius: 5px;
    object-fit: cover;
}

.footer{
    background-color: #ffffff;
    width: 100%;
    height: 92px;

  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;

}
.product-list{
    width: 550px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 20px;
    margin-top: 20px;
}
.product-list::-webkit-scrollbar{
    display: none;
}

.product{
    background-color: #fafafa;
    width: 172px;
    height: 216px;
    border-radius: 10px;    
    margin-right:  20px;

    box-sizing: border-box;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-drink{
    background-color: #fafafa;
    width: 172px;
    height: 216px;
    border-radius: 10px;    
    margin-right:  20px;

    box-sizing: border-box;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-sobremesa{
    background-color: #fafafa;
    width: 172px;
    height: 216px;
    border-radius: 10px;    
    margin-right:  20px;

    box-sizing: border-box;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-content{
    width: 144px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    box-sizing: border-box;
}

.footer-product{
    font-family: 'Roboto';
    font-size: 16px;
    color: #000;
    display: flex;
    justify-content: flex-start;
    
    
}
.selecionado{
    border: 3px solid green;
}
.selecionado-bebida{
    border: 3px solid green;
}
.selecionado-sobremesa{
    border: 3px solid green;
}
.icon-select{
    font-size: 24px;
    color: #fafafa;
    display: inline;
}
.icone-selecionado{
    font-size: 40px;
    color: green;
}

.button-buy{
    border-radius: 30px;
    width: 364px;
    height: 62px;
    border: none;

    color: #cbcbcb;
    cursor: not-allowed; 
}
.button-buy-ok{
    background-color: green;
    cursor: pointer; 
}

/* INICIO DOS ESTILOS */

.tittle-button{
    color: #ffffff;
    font-size: 20px;
}

.mouse-link{
    cursor: pointer;
}