@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #90EE90;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 48px;
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 5px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.qtd-cartas{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    color: green;
}

.baralho{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 872px;
    padding: 10px;
}


.memory-card{
    width: 117px;
    height: 146px;
    border-radius: 10px;
    background-color: #75B79E;
    margin:  10px;
    margin-bottom: 10px;

    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.front-face, .back-face{

    position: absolute;
}

.back-face{
    opacity: 0;
}
.opaco-off{
    opacity: 1;
    width: 100px;
    height: 110px;
    background-color: #75B79E ;
}
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
.front-face {
    width: 100px;
    height: 110px;
    background-color: #75B79E;
    transform: rotateY(180deg);
   
}
.front-face-off{
    opacity: 0;
}

@media (max-width:800px){
    .baralho{
        flex-direction: column;
    }

}